@import "tailwindcss";

@theme {
    --font-inter: "Inter Variable", sans-serif;
    --font-atma: "Atma", system-ui;
    --color-mint-500: oklch(0.72 0.11 178);
    --color-primary:#04246e;
    --color-secondary: #ffcf1b;
    --color-tertiary: #e81d20;
    --color-light: #fafafa;
    --color-blueLight: #eff2ff;
    --color-background: #192246;
    --color-background2: #ffde59;
    --color-header: #14337f;

    --breakpoint-xs: 30rem;
}

@utility text-outline-4 {
  text-shadow: 0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white,
    0 0 12px white;

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 16px white;
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-3 {
  text-shadow: 0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white;

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 12px white;
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-2 {
  text-shadow: 0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white,
    0 0 6px white;

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 8px white;
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline {
  text-shadow: 0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white,
    0 0 4px white;

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 4px white;
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-secondary-4 {
  text-shadow: 0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary),
    0 0 12px var(--color-secondary);

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 16px var(--color-secondary);
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-secondary-3 {
  text-shadow: 0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary),
    0 0 8px var(--color-secondary);

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 12px var(--color-secondary);
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-secondary-2 {
  text-shadow: 0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary),
    0 0 6px var(--color-secondary);

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 8px var(--color-secondary);
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-secondary {
  text-shadow: 0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary),
    0 0 4px var(--color-secondary);

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 4px var(--color-secondary);
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-tertiary-4 {
  text-shadow: 0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary),
    0 0 12px var(--color-tertiary);

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 16px var(--color-tertiary);
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-tertiary-3 {
  text-shadow: 0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary),
    0 0 8px var(--color-tertiary);

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 12px var(--color-tertiary);
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-tertiary-2 {
  text-shadow: 0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary),
    0 0 6px var(--color-tertiary);

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 8px var(--color-tertiary);
    paint-order: stroke fill;
    text-shadow: none;
  }
}

@utility text-outline-tertiary {
  text-shadow: 0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary),
    0 0 4px var(--color-tertiary);

  @supports (paint-order: stroke fill) {
    -webkit-text-stroke: 4px var(--color-tertiary);
    paint-order: stroke fill;
    text-shadow: none;
  }
}


@plugin "@tailwindcss/typography";