<section class="container mx-auto mt-[130px] md:mt-[130px] lg:mt-[140px] xl:mt-[160px]">
    <div class="bg-[url('/images/index/escuela-de-verano.webp')] bg-no-repeat bg-cover bg-center h-full w-full rounded-3xl bg-black/40 bg-blend-multiply">
        <div class="relative w-full">
            <div class="flex justify-center relative h-[calc(100vh-14rem)] mx-5 sm:mx-10 ">
                <img src="images/logo/logo.png"
                    alt="Logo escuela de verano Murialdo"
                    class="absolute top-1/2 -translate-y-1/2 drop-shadow-[0_0_6px_rgba(0,0,0,0.8)] z-10 w-96">
                <h1 class="font-atma absolute bottom-16 z-10 text-primary text-outline-4 w-full py-4 rounded-3xl text-center font-extrabold text-3xl md:text-6xl">
                    Escuela de verano en Mendoza
                </h1>
            </div>
        </div>
    </div>
</section>