<section class="py-8 container mx-auto" id="sobre-nosotros">
    <section class="px-4 mx-auto max-w-7xl py-8 sm:py-20 lg:px-6">
        <h2 class="font-atma font-bold text-outline-4 text-tertiary text-5xl text-center">Sobre nosotros</h2>
        <p class="mt-2 text-white text-xl text-center">Escuela de verano del Club Lonardo Murialdo.</p>
    </section>
    <section class="text-white grid grid-cols-1 lg:grid-cols-2 items-center gap-6 px-4">
        <img src="/images/index/sobre-nosotros.webp"
            alt="About"
            class="rounded-3xl w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
        />
        <div class="prose prose-p:text-white prose-p:text-lg">
            <p>
                El Club Leonardo Murialdo durante muchos años ha sido un lugar de contención, aprendizaje y crecimiento para una innumerable cantidad de chicos y chicas de una infinita heterogeneidad en cuanto a edades, intereses, demandas y características por lo cual es de fundamental importancia poder brindarles la posibilidad de contar con una escuela de verano que garantice un servicio de alta calidad, integral y eficiente.
            </p>
            <p>
                Ofreciéndoles una gran gama de actividades que comprenden no solo las diferentes disciplinas deportivas con las que cuenta el club sino también actividades relacionadas con la recreación y al aprendizaje de la natación.
            </p>
            <p>
                Para esto hemos desarrollado una estructura sólida y eficiente que nos asegura que los chicos atraviesen una experiencia de una forma segura, divertida y aprendiendo desde el primer día al último, viviendo una experiencia realmente significativa, la cual deje una huella imborrable en el recuerdo de nuestros chicos.
            </p>
        </div>
    </section>
</section>